body{
    text-align: center;
    background-color: aquamarine ;
}
.mainera{
    display:flex;
    justify-content: space-around;
}
.editors{
    background-color: bisque;
    width: 100%;
}
textarea{
width: 100%;
min-height: 250px;
overflow: scroll;
font-size:x-large ;
background-color: blueviolet;
color: rgb(1, 0, 0);

}
.output{
    background-color: rgb(82, 163, 163);
}
 iframe{
    width: 100%;
    height: 30em;
    background-color: rgb(234, 84, 30);
}
@media(max-width:800px){
    .mainera{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .editors{
        width: 80%;

    }
    textarea{
        min-height: 150px;
        width:97%;
    }
    iframe{
        height:20em;
    }
}
@media(max-width:480px){
    .mainera{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .editors{
        width: 90%;
    }
    textarea{
        min-height: 100px;
        width:97%;

    }
    iframe{
        height:15em;
    }
}

